.image0 {
	background-image: url(Task_3/0.png);
	background-repeat: no-repeat;
	width: 1280px;
}
.image1 {
	background: url(Task_3/1.png);
	height: 946px;
	background-repeat: no-repeat;
	background-position: bottom 0px left 0px;
}
.image2 {
	background: url(Task_3/4.png);
	background-position: bottom 80px right 160px;
	background-repeat: no-repeat;
}
.image3 {
	background-image: url(Task_3/2.png);
	background-position: bottom 110px right 0px;
	background-repeat: no-repeat;
}
.image4 {
	background-image: url(Task_3/3.png);
	background-position: bottom 160px right 265px;
	background-repeat: no-repeat;
}
.image5 {
	background-image: url(Task_3/5.png);
	background-position: bottom 215px left 280px;
	background-repeat: no-repeat;
}
.image6 {
	background-image: url(Task_3/6.png);
	background-position: top 170px left 240px;

	background-repeat: no-repeat;
}