.div0{
	margin-left: 450px;

}

.div1{
	display: inline-block;
	background-repeat: no-repeat;
	width: 40%;
	color: grey;
}

.div2{
	margin: 20px ;
	color: grey;

}

.h2 {
	text-align: center;
	display: inline-block;
	width: 20%;
	padding: 10px;
	position: relative;
	bottom: 20px
}

.img {
	float: left;
}

.h3{
	text-align: left;
	display: inline-block;
	width: 30%;
	color: #BDBDBD ;
	position: relative;
	top: 15px;
	right: 35px;
}

.hr{
	float: left;
	width: 50%
}

.img1 {
	display: inline-block;
	width: 70px

}

.h3_1 {
	padding: 5px;
	float: left;
	width: 10%;
	color: grey;
}

.h3_2 {
	display: inline-block;
	text-align: center;
	width: 20%;
	position: relative;
	bottom: 15px;
}

.h3_3 {
	display: inline-block;
	text-align: right;
	color: grey;
	position: relative;
	bottom: 40px;
}
